.Bar-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    padding: 5px 10px;
    border-radius: 10px;
}

p {
    visibility: hidden;
    font-size: 0.7rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.Bar-group img {
    width: 90%;
}

.Bar-score {
    margin-top: 10px;
    font-weight: bold;
    color: rgb(240, 84, 22);
    font-size: 1.2rem;
}

.whoArePlaying {
    background-color: rgba(85, 85, 85, 0.4);
}

.whoArePlaying p {
    visibility: visible;
}